---
layout: default
---
<article class="recipe-content">
    <header>
        <h1>Recipe: {{ page.title }}</h1>
    </header>

    <div class="recipe-body">
        <div class="recipe-text">
            {{ content }}<br />
        </div>
        <div class="recipe-images">
            <h2>Ingredients</h2>
            <img src="/assets/images{{ page.url | relative_url }}-ingredients.jpg" />

            <h2>Resulting Goodies!!</h2>
            <img src="/assets/images{{ page.url | relative_url }}.jpg" />
        </div>
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>